body {
  background: #1A1B20;
  color: #CACACC;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 650px;
}

h1 {
  font-weight: 400;
  margin: 0;
  color: #FFFFFF
}
h2 {
  color: #776CC4;
  font-weight: 300;
  margin: 0 0 .5em 0;
}

.comment {
  color: #41B644
}

.links {
  margin: 0 0 1.5em 0;
}
.links a {
  color: #009DBE;
  margin: auto 1em auto 0;
}
